.cards-popular {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    .popular-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .popular-card-star {
            display: flex;
            flex-direction: row;
            gap: 2px;
        }
        .popular-card-place {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .map-text {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 0.875rem;
                }
            }
        }
    }
}